{% extends "base.html" %}

{% block title %}
    {{ super() }}- recommend
{% endblock %}

{% block section %}
<h2>III. Recommendation</h2>
{% endblock %}

{% block side_nav %}
<ul>
    <li><a href="/recommend/">Similar Items</a></li>
    <li><a href="/recommend/sim_user">Similar Users</a></li>
    <li><a href="/recommend/hot">Hot Pool</a></li>
    <li><a href="/recommend/interest">Interest</a></li>
</ul>
{% endblock %}

{% block content %}
<div>
</div>
<br/>
<hr>
<h4>Instruction</h4>
{% endblock %}
