{% extends "base.html" %}

{% block title %}
    {{ super() }}- reading
{% endblock %}

{% block section %}
<h2>title</h2>
{% endblock %}

{% block side_nav %}
<ul>
    <li><a href="/load/">load</a></li>
</ul>
{% endblock %}

{% block content %}
<form role="form" action="/reading/" method="post">
    <div class="form-group">
        <label for="load_path">path</label>
        <input name="load_path" type="text" class="form-control" placeholder="Enter file path in mfs" value="{{reading_predict_path}}">
    </div>
    <button type="submit" class="btn btn-default">submit</button>
</form>

<br />
{% if result %}
    {% if result[0] > 0 %}
    <div>
        <p>HitRate: {{ result[1] }}</p>
        <p>ARHR: {{ result[2] }}</p>
    </div>
    {% else %}
    <p>Error</p>
    {% endif %}
{% endif %}
<hr>
<h4>Instruction</h4>

<dl>
  TODO
</dl>
{% endblock %}
